<div class="films-table">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Film Adı</th>
                <th>Yıl</th>
                <th>Süre</th>
                <th>IMDB</th>
                <th>Durum</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody id="filmsTableBody">
        </tbody>
    </table>
</div>
