<footer class="ht-footer">
    <div class="container">
        <div class="flex-parent-ft">
            <div class="flex-child-ft item1">
                <a href="index-2.html"><img class="logo" src="/webfilm/images/logo1.png" alt=""></a>
                <p>
                    İsmetpaşa Caddesi<br>
                    Uşak, Türkiye, 64200
                </p>
                <p>Bizi Ara: <a href="#">(+90) 202 342 6789</a></p>
            </div>
            <div class="flex-child-ft item2">
                <h4>Kaynaklar</h4>
                <ul>
                    <li><a href="#">Hakkımızda</a></li>
                    <li><a href="#">Filmler</a></li>
                    <li><a href="#">Bize Ulaşın</a></li>
                    <li><a href="#">Forumlar</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Yardım Merkezi</a></li>
                </ul>
            </div>
            <div class="flex-child-ft item3">
                <h4>Yasal</h4>
                <ul>
                    <li><a href="#">Tüm Güvenlik</a></li>
                    <li><a href="#">Gizlilik Politikaları</a></li>
                    <li><a href="#">Saklıdır</a></li>
                </ul>
            </div>
            <div class="flex-child-ft item4">
                <h4>Hesap</h4>
                <ul>
                    <li><a href="#">Hesabım</a></li>
                    <li><a href="#">İzleme Listesi</a></li>
                    <li><a href="#">Koleksiyonlar</a></li>
                    <li><a href="#">Kullanıcı Rehberi</a></li>
                </ul>
            </div>
            <div class="flex-child-ft item5">
                <h4>Haber Bülteni</h4>
                <p>Şimdi bülten sistemimize abone olun <br> bizden son haberleri alın.</p>
                <form action="#">
                    <input type="text" placeholder="E-Posta Adresinizi Giriniz...">
                </form>
                <a href="#" class="btn">Abone Ol <i class="ion-ios-arrow-forward"></i></a>
            </div>
        </div>
    </div>
    <div class="ft-copyright">
        <div class="ft-left">
            <p><a target="_blank" href="https://www.templateshub.net">Movie Api</a></p>
        </div>
        <div class="backtotop">
            <p><a href="#" id="back-to-top">Üste Git <i class="ion-ios-arrow-thin-up"></i></a></p>
        </div>
    </div>
</footer>
