<div class="login-wrapper" id="login-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>Giriş Yap</h3>
        <form id="formLogin">
            <div class="row">
                <label for="usernameOrEmail">
                    Kullanıcı Adı veya E-Posta:
                    <input type="text" id="usernameOrEmail" placeholder="Kullanıcı Adı" required="required" />
                </label>
            </div>

            <div class="row">
                <label for="password">
                    Şifre:
                    <input type="password" id="password" placeholder="******" required="required" />
                </label>
            </div>
            <div class="row">
                <div class="remember">
                    <div>
                        <input type="checkbox" name="remember" value="Remember me"><span>Beni Hatırla</span>
                    </div>
                    <a href="#">Şifrenizi mi unuttunuz?</a>
                </div>
            </div>
            <div class="row">
                <button type="submit">Giriş Yap</button>
            </div>
        </form>
        <div class="row">
            <p>Veya Diğer Sosyal Ağlarla</p>
            <div class="social-btn-2">
                <a class="fb" href="#"><i class="ion-social-facebook"></i>Facebook</a>
                <a class="tw" href="#"><i class="ion-social-twitter"></i>twitter</a>
            </div>
        </div>
    </div>
</div>

