@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    @await Component.InvokeAsync("_AdminHeadComponentPartial")
    @RenderSection("Styles", false)

</head>
<body>
    <!-- Sidebar -->
    @await Component.InvokeAsync("_AdminSidebarComponentPartial")
    <!-- Main Content -->
    <div class="main-content" id="mainContent">
        <!-- Navbar -->
        @await Component.InvokeAsync("_AdminNavbarComponentPartial")
       
        <!-- Content Area -->
        @RenderBody()

    </div>
    <div class="toast-container position-fixed top-0 end-0 p-3" style="z-index:1080">
        <div id="liveToast" class="toast">
            <div class="toast-header text-white" id="toastrHeader">
                <strong class="me-auto" id="toastrTitle"></strong>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast"></button>
            </div>
            <div class="toast-body bg-success-subtle text-success-emphasis" id="toastrBody">
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("_AdminScriptsComponentPartial")
    @RenderSection("Scripts",false)
</body>
</html>
