@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    @await Component.InvokeAsync("_AdminHeadComponentPartial")
    @RenderSection("Styles", false)

</head>
<body>
    <!-- Sidebar -->
    @await Component.InvokeAsync("_AdminSidebarComponentPartial")
    <!-- Main Content -->
    <div class="main-content" id="mainContent">
        <!-- Navbar -->
        @await Component.InvokeAsync("_AdminNavbarComponentPartial")
       
        <!-- Content Area -->
        @RenderBody()

    </div>
    @RenderSection("Items",false) 
    @await Component.InvokeAsync("_AdminScriptsComponentPartial")
    @RenderSection("Scripts",false)
</body>
</html>
