<div class="login-wrapper" id="signup-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>Kaydol</h3>
        <p id="passwordMessage"></p>
        <form id="formRegister">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <label>
                            Adı:
                            <input type="text" id="name-2" required />
                        </label>
                    </div>

                    <div class="row">
                        <label>
                            Soyadı:
                            <input type="text" id="surname-2" required />
                        </label>
                    </div>

                    <div class="row">
                        <label>
                            Kullanıcı Adı:
                            <input type="text" id="username-2" autocapitalize="off"
                                   autocomplete="off"
                                   spellcheck="false" required />
                            <span id="usernameMessage"></span>
                        </label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <label>
                            E-Posta:
                            <input type="text" id="email-2" autocapitalize="off"
                                   autocomplete="off"
                                   spellcheck="false" required />
                            <span id="emailMessage"></span>
                        </label>
                    </div>

                    <div class="row">
                        <label>
                            Şifre:
                            <input type="password" autocapitalize="off"
                                   autocomplete="off"
                                   spellcheck="false" id="password-2" required />
                        </label>
                    </div>

                    <div class="row">
                        <label>
                            Şifre Tekrar:
                            <input type="password" autocapitalize="off"
                                   autocomplete="off"
                                   spellcheck="false" id="repassword-2" required />
                        </label>
                    </div>

                    <div class="row">
                        <button type="submit" class="btn btn-primary w-100">
                            Kayıt Ol
                        </button>
                    </div>
                </div>

            </div>
        </form>

    </div>
</div>
